extends layout

block content
  a(href='https://github.com/woogonchung/blockchain-demo/')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1(style="margin:10px auto;") 블록체인 데모 by 생물유전자원연구소 (IT사업부)
    //.embed-responsive.embed-responsive-16by9
    //      iframe.embed-responsive-item(src='https://www.youtube.com/embed/_160oMzblY8')
    br

    div.imgblock(style="dislay:flex; width:90%; flex-direction:row; justify-content: center; margin:20px auto; height:400px;")
      img(src="images/bgri.jpg", style="width:450px;")
      img(src="images/virtualsoft-frame.jpg", style="width:450px; margin-left:30px;")


    h3(style="text-align: right")생물유전자원연구소 BGRI-IT사업부
  
